.hero-section {
    height: 500px;
    background-image: url('../assets/college.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-overlay {

    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-overlay h1 {
    color: white;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero-overlay h1 {
    color: pink;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
.hero-overlay p {
    color: #f1c40f;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}
.hero-overlay span {
    color: white;
    font-size: 18px;
    max-width: 600px;
    line-height: 1.6;
}
.about{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 10%;
    gap:50px;
}
.about-image{
    width:100%;
}
.about-image img{
    width:100%;
    border-radius:10px;
}
.about-content{
    width:50%;
}
.about-content h2{
    font-size:40px;
    margin-bottom:20px;
}
.about-content p{
    font-size:18px;
    line-height:30px;
    color:gray;
    margin-bottom:20px;
}
.about-content button{
    padding:12px 30px;
    background:#8b0000;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:5px;
}
.about-content button:hover{
    background:blue;
}
.principal{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 10%;
    gap:50px;
    background:white;
}
.principal-image{
    width:50%;
}
.principal-image img{
    width:100%;
    border-radius:10px;
}
.principal-content{
    width:50%;
}
.principal-content h2{
    font-size:40px;
    margin-bottom:15px;
}
.principal-content h3{
    font-size:25px;
    margin-bottom:15px;
    color:#8b0000
}
.principal-content p{
    font-size:24px;
    margin-bottom:25px;
    color:#8b0000;
}
.principal-button{
    background:#8b0000;
    color:white;
    padding:12px 30px;
    border:none;
    cursor:pointer;
    border-radius:5px;
}
.principal-button:hover{
    background:blue;
}
.vision-mission{
    padding:50px 10%;
    background:#f8f9fa;
}
.section-title{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
    color:#8b0000;
}
.vission-container{
    display:flex;
    justify-content:space-between;
    align-items:stretch;
    gap:30px;
}
.vision-card{
    width:45%;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    transition:0.3s;
}
.vision-card:hover{
    transform:translateY(-10px);
}
.vision-card h3{
    font-size:28px;
    color:#8b0000;
    margin-bottom:20px;
}
.vision-card p{
    font-size:18px;
    line-height:30px;
    color:#555;
}