.hero-section {
    height: 500px;
    background-image: url('../assets/college.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-overlay {

    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-overlay h1 {
    color: white;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero-overlay h1 {
    color: pink;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}
.hero-overlay p {
    color: #f1c40f;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}
.hero-overlay span {
    color: white;
    font-size: 18px;
    max-width: 600px;
    line-height: 1.6;
}
.about{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 10%;
    gap:50px;
}
.about-image{
    width:100%;
}
.about-image img{
    width:100%;
    border-radius:10px;
}
.about-content{
    width:50%;
}
.about-content h2{
    font-size:40px;
    margin-bottom:20px;
}
.about-content p{
    font-size:18px;
    line-height:30px;
    color:gray;
    margin-bottom:20px;
}
.about-content button{
    padding:12px 30px;
    background:#8b0000;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:5px;
}
.about-content button:hover{
    background:red;
}